# Workspace Root
.vscode
coverage
node_modules

lerna-debug.log*
yarn-debug.log*
yarn-error.log*

# All packages
packages/*/coverage
packages/*/dist
packages/*/node_modules

packages/*/.eslintcache

# packages/app-one

# packages/app-two

# packages/core
packages/core/dist

packages/core/tsconfig.build.tsbuildinfo